<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>There was an error</h3>
  <%= message %>
  <form action="/", method="GET"> 
    <button type="submit">Go Home</button>
  </form>
</body>
</html>